@tailwind base;
@tailwind components;
@tailwind utilities;

@import './_partials/variables';
@import './_partials/transitions';
@import './_partials/checkbox-radio';

@import './nprogress.scss';

:root {
  --toastify-color-progress-light: #e20074;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}
